{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Добавить Локацию</h2>

    <form action="{{ url_for('locations.add_location') }}" method="POST">
        <div class="form-group">
            <label for="address">Адрес</label>
            <input type="text" name="address" class="form-control" id="address" required>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
            <input type="text" name="city" class="form-control" id="city" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a href="{{ url_for('locations.get_locations') }}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
