{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Редактировать пользователя</h1>

    <form action="{{ url_for('users.edit_user', user_id=user.user_id) }}" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" required>
        </div>

        <div class="form-group">
            <label for="phone_number">Телефон</label>
            <input type="text" name="phone_number" id="phone_number" class="form-control"
                   value="{{ user.phone_number }}" required>
        </div>

        <div class="form-group">
            <label for="fio">ФИО</label>
            <input type="text" name="fio" id="fio" class="form-control" value="{{ user.fio }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="{{ url_for('users.get_users') }}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
