{% extends 'base.html' %}
{% block title %}Изменить сделку{% endblock %}
{% block content %}
<h1>Изменить сделку</h1>
<form method="POST">
    <div class="form-group">
        <label for="car_id">Автомобиль</label>
        <select name="car_id" class="form-control" required>
            {% for car in cars %}
            <option value="{{ car.car_id }}" {% if car.car_id== deal.car_id %}selected{% endif %}>{{ car.model }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="rate_id">Тариф</label>
        <select name="rate_id" class="form-control" required>
            {% for rate in rates %}
            <option value="{{ rate.rate_id }}" {% if rate.rate_id== deal.rate_id %}selected{% endif %}>{{ rate.type }} -
                {{ rate.amount }} ₽
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="user_id">Пользователь</label>
        <select name="user_id" class="form-control" required>
            {% for user in users %}
            <option value="{{ user.user_id }}" {% if user.user_id== deal.user_id %}selected{% endif %}>{{ user.fio }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}
