{% extends 'base.html' %}
{% block title %}Редактировать автомобиль{% endblock %}
{% block content %}
<h1>Редактировать автомобиль</h1>
<form method="POST">
    <div class="form-group">
        <label for="model">Модель</label>
        <input type="text" name="model" class="form-control" value="{{ car.model }}" required>
    </div>
    <div class="form-group">
        <label for="year">Год</label>
        <input type="number" name="year" class="form-control" value="{{ car.year }}" required>
    </div>
    <div class="form-group">
        <label for="status">Статус</label>
        <input type="text" name="status" class="form-control" value="{{ car.status }}" required>
    </div>
    <div class="form-group">
        <label for="organization_id">Организация</label>
        <select name="organization_id" class="form-control" required>
            {% for organization in organizations %}
            <option value="{{ organization.organization_id }}" {% if car.organization_id== organization.organization_id
                    %}selected{% endif %}>{{ organization.organization_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="rate_id">Тариф</label>
        <select name="rate_id" class="form-control" required>
            {% for rate in rates %}
            <option value="{{ rate.rate_id }}" {% if car.rate_id== rate.rate_id %}selected{% endif %}>{{ rate.type }} -
                {{ rate.amount }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}
