{% extends 'base.html' %}
{% block title %}Изменить организацию{% endblock %}
{% block content %}
<h1>Изменить организацию</h1>
<form method="POST">
    <div class="form-group">
        <label for="organization_name">Название организации</label>
        <input type="text" name="organization_name" class="form-control" value="{{ organization.organization_name }}"
               required>
    </div>
    <div class="form-group">
        <label for="address">Адрес</label>
        <input type="text" name="address" class="form-control" value="{{ organization.address }}" required>
    </div>
    <div class="form-group">
        <label for="city">Город</label>
        <input type="text" name="city" class="form-control" value="{{ organization.city }}" required>
    </div>
    <div class="form-group">
        <label for="phone_number">Телефон</label>
        <input type="text" name="phone_number" class="form-control" value="{{ organization.phone_number }}" required>
    </div>
    <div class="form-group">
        <label for="fio_director">ФИО директора</label>
        <input type="text" name="fio_director" class="form-control" value="{{ organization.fio_director }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}
