{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Локации</h1>
    <a href="{{ url_for('locations.add_location') }}" class="btn btn-primary mb-3">Добавить Локацию</a>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Адрес</th>
            <th>Город</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location.location_id }}</td>
            <td>{{ location.address }}</td>
            <td>{{ location.city }}</td>
            <td>
                <a href="{{ url_for('locations.edit_location', location_id=location.location_id) }}"
                   class="btn btn-warning btn-sm">Редактировать</a>
                <form action="{{ url_for('locations.delete_location', location_id=location.location_id) }}"
                      method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Удалить эту локацию?');">Удалить
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
