{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<h1>Пользователи</h1>
<a href="{{ url_for('users.add_user') }}" class="btn btn-primary mb-3">Добавить пользователя</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Паспортные данные</th>
        <th>Дата рождения</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.fio }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.passport_number }}</td>
        <td>{{ user.date_of_birth }}</td>
        <td>
            <a href="{{ url_for('users.edit_user', user_id=user.user_id) }}" class="btn btn-warning btn-sm">Изменить</a>
            <form action="{{ url_for('users.delete_user', user_id=user.user_id) }}" method="POST"
                  style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Удалить этого пользователя?');">Удалить
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
